@import "tailwindcss";
@plugin "daisyui";



@keyframes fall {
    0% {
        transform: translateY(-50px) translateX(var(--drift, 0px)) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) translateX(var(--drift, 0px)) rotate(360deg);
        opacity: 0;
    }
}

.animate-fall {
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}




.rain {
    width: 100%;
    height: 100%;
    background-image: url('https://i.ibb.co/qmQJxH0/raindrop.png');
    background-repeat: repeat;
    animation: rain 1s linear infinite;
    opacity: 0.6;
}

@keyframes rain {
    0% {
        background-position: 0 -100%;
    }

    100% {
        background-position: 0 100%;
    }
}



.absolute {
  position: absolute;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.z-10 {
  z-index: 10;
}
.pointer-events-none {
  pointer-events: none;
}
